.app-wrapper {
  margin:0 200px;
  min-height: 100vh;
    display: grid;
    grid-template-columns:2fr 10fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
    'header header'
     'nav content' 
     'footer footer'
}

@media screen and (max-width:600px){
  .app-wrapper{
    grid-template-areas:
     'header'
     'nav'
     'content'
     'footer';
     grid-template-columns: 100%;
     grid-template-rows: 60px 110px 1fr 60px;

  }
}